*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  html{
    font-family: sans-serif;
  }

  .container{    
    background-image: url( ../img/jumbo.png );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
  } 

  .cont1{       
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;   
  }

  .mar-r{
    margin-right: 15px;
  }

  .pad{
    padding: 6px;
  } 

  .bw-rad{
    border: 1px solid white;
    border-radius: 15px;
  }

  .bg-rad{
    border: 1px solid #333;
    border-radius: 15px;
  }

  .boxg{     
    flex-basis: 20%;      
  }

  .boxb{        
    flex-basis: 40%;
    display: flex;
    color: white;
    justify-content: space-between;      
  }

  .boxn{        
    flex-basis: 20%;
    text-align: center;
      
  }

  .cont2{        
    width: 45%;
    margin: auto;
    padding: 20px;
  }

  .title{
    text-align: center;    
    padding: 30px;
    color: white;
  }

  .text{
    text-align: center;    
    padding: 20px;
    color: white;
  }

  .but{
    text-align: center;    
    padding: 20px;    
  }

  .b-white{
    color: #333;
    font-weight: bold;
  }

  .b-gray{
    background-color: #333;
    color: white;
    font-weight: bold;
  }

  .cont3{       
    width: 80%;
    margin: auto;
    display: flex;    
    padding: 20px;
    align-items: center;
  }

   .bcolor2{
    background-color: lightgray;
  }

  .bcolor3{    
    flex-basis: 60%;
    text-align: end;
    margin-right: 5rem;               
  }

  .bcolor3b{    
    flex-basis: 60%;
    text-align: end;                 
  }

  .bcolor3b > img{
    width: 100%;
  }

  .bcolor3 > img{
    width: 100%;
  }

  .bcolor4{    
    flex-basis: 40%;          
  }
  
  h2{
    font-size: 2em;
    line-height: 35px;
    margin-bottom: 30px;
  }

  p{
    line-height: 25px;    
  }

  .ord1{
    order: -1;
  }

  .cont4{       
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .bc-rad{
    border: 1px solid #628bf7;
    border-radius: 15px;
    background-color: #628bf7;
    color: white;
    margin-top: 25px;
    margin-bottom: 30px;
    font-weight: bold;
}

.bcolor7{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;    
    padding: 5px;             
}

 .bcolor8{
    background-color: #333;    
 } 

 .bcolor9{    
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #628bf7;
    padding: 20px;    
 }

 .col1{
    flex-basis: 25%;    
 }

 .col2{
    flex-basis: 70%;    
    display: flex;
    justify-content: space-between;
 }

 .flex-b{    
    flex-basis: 17.5%;
    line-height: 25px;
    color: #628bf7;
 }

 li{
    color: white;
 }

 .bcolor14{    
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;    
    padding: 20px;
 }

 .bcolor15{    
    flex-basis: 20%;    
 }

 .bcolor16{    
    flex-basis: 20%;
    text-align: right;    
 } 

 .fn1{
    font-size: 30px;
    color: #628bf7;
 }

 .limg{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
 }

 .limg img{
    width: 15px;
    height: 15px;    
 }

 .arrow{
    font-size: x-small;
 }

 .icons{
    color: white;
    margin-right: 20px;
 }

 .reg{
    border: 1px solid #628bf7;
    border-radius: 15px;
    padding: 6px;
    background-color: #628bf7;
    color: white;    
 }

 

 