*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .container{    
    background-image: url( ../img/jumbo.png );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
  } 

  .cont1{       
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;   
  }

  .pad{
    padding: 6px;
  }
  
  .mar-r{
    margin-right: 15px;
  }

  .bw-rad{
    border: 1px solid white;
    border-radius: 15px;
  }

  .bg-rad{
    border: 1px solid #333;
    border-radius: 15px;
  }

  .boxg{     
    flex-basis: 20%;      
  }

  .boxb{        
    flex-basis: 40%;
    display: flex;
    color: white;      
  }

  .boxn{        
    flex-basis: 20%;
    text-align: center;
      
  }

  .cont2{        
    width: 45%;
    margin: auto;
    padding: 20px;
  }

  .title{
    text-align: center;    
    padding: 30px;
    color: white;
  }

  .text{
    text-align: center;    
    padding: 20px;
    color: white;
  }

  .but{
    text-align: center;    
    padding: 20px;    
  }

  .b-white{
    color: #333;
    font-weight: bold;
  }

  .b-gray{
    background-color: #333;
    color: white;
    font-weight: bold;
  }

  .cont3{       
    width: 80%;
    margin: auto;
    display: flex;    
    padding: 20px;
    align-items: center;
  }

   .bcolor2{
    background-color: lightgray;
  }

  .bcolor3{    
    flex-basis: 60%;
    text-align: end;
    margin-right: 5rem;               
  }

  .bcolor4{    
    flex-basis: 40%;          
  }
  
  h2{
    font-size: 2em;
    line-height: 35px;
    margin-bottom: 30px;
  }

  p{
    line-height: 25px;    
  }

  .ord1{
    order: -1;
  }

  .cont4{       
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .bc-rad{
    border: 1px solid #628bf7;
    border-radius: 15px;
    background-color: #628bf7;
    color: white;
    margin-top: 25px;
    margin-bottom: 30px;
    font-weight: bold;
}

.bcolor7{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;    
    padding: 5px;              
}

 .bcolor8{
    background-color: cornflowerblue;    
 }

 .bcolor9{
    background-color: beige;
    height: 300px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid red;
    padding: 20px;    
 }

 .col1{
    flex-basis: 25%;
    background-color: blue;
 }

 .col2{
    flex-basis: 70%;
    background-color: white;
    display: flex;
    justify-content: space-between;
 }

 .bcolor10{
    background-color: green;
    flex-basis: 17.5%;
 }

 .bcolor11{
    background-color: aquamarine;
    flex-basis: 17.5%;
 }

 .bcolor12{
    background-color: black;
    flex-basis: 17.5%;
 }

 .bcolor13{
    background-color: yellow;
    flex-basis: 17.5%;
 }

 .bcolor14{
    height: 200px;
    width: 80%;
    margin: auto;
        display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 20px;
 }

 .bcolor15{    
    background-color: black;
    flex-basis: 20%;
 }

 section{
    margin-bottom: 300px;
 }